body {
  background-image: url(../images/snails6.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

#inline {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#bloopin {
  /*display: none;*/
}

#game-intro {
  align-content: center;
  padding: 200px 0px;
  margin: 100px 100px;
  border: 2px solid black;
  overflow: hidden;
  position: relative;
  background-image: url(../images/swamp.jpg);
  background-size: cover;
}

#instructions-page {
  display: none;
  align-content: center;
  padding: 200px 0px;
  margin: 100px 100px;
  border: 2px solid black;
  overflow: hidden;
  position: relative;
  background-image: url(../images/swamp.jpg);
  background-size: cover;
}

#game-container {
  display: none;
  align-content: center;
  padding: 200px 0px;
  margin: 100px 100px;
  border: 2px solid black;
  color: white;
  overflow: hidden;
  position: relative;
  background-image: url(../images/swamp.jpg);
  background-size: cover;
}

#combinations-box {
  background-color: white;
  border: 1px solid black;
  width: 200px;
  height: 200px;
  color: black;
}

#dead-end {
  display: none;
  align-content: center;
  padding: 200px 0px;
  margin: 100px 100px;
  border: 2px solid black;
  overflow: hidden;
  position: relative;
  background-image: url(../images/swamp.jpg);
  background-size: cover;
  color: white;
}

#live-end {
  display: none;
  align-content: center;
  padding: 200px 0px;
  margin: 100px 100px;
  border: 2px solid black;
  overflow: hidden;
  position: relative;
  background-image: url(../images/swamp.jpg);
  background-size: cover;
}

#secondary-elements {
  visibility: hidden;
}

#tertiary-elements {
  visibility: hidden;
}

.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.9s 2.5s;
  animation: fadein 0.5s, fadeout 0.9s 2.5s;
}
